* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  width: 50px;
  height: 50px;
  margin: 10px;
  font-size: 2rem;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100%;
  background-color: gray;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}
